.h2 {
    color: red;
}

.idList {
    width: 1000px;
    height: 1000px;
    padding: 0;
    position: relative
    
}


.idList img {
    position: absolute;
    bottom: 150px;
    right: 250px;
    z-index:0;
    margin: 50px
}
#susumu1{
    visibility:hidden;

}
#susumu2{
    visibility:hidden;

}
#susumu3{
    visibility:hidden;

}
#susumu4{
    visibility:hidden;

}
#susumu5{
    visibility:hidden;

}
#susumu6{
    visibility:hidden;

}
#susumu7{
    visibility:hidden;

}
#susumu8{
    visibility:hidden;

}
#susumu9{
    visibility:hidden;

}
